/* 
----------------------------------------
approach used for page layout
what has been used is a flex box container
and a left and right column
the left Col A is to indent
right Col B is the content

container - flex 
-----------------------------------------
|   col A   |         col B             |
|           |                           |
-----------------------------------------




------------Table of Contents----------- 
1 Globals 
    1.1 Fonts 
    1.2 Functional CSS Definitions 
        

2 Components 
    2.1 Buttons 
    2.2 Cards   
    2.3 Inputs

3 Layout container specific 

---------------------------------------- 
*/


/* 1.1 Fonts */
.h1 {
    font-size: 30px;
    /* font-size: 1.25em; */
    font-weight: 700;
    color:var(--text-dark);
    margin:.75em;
}


.h2 {
    font-size: 20px;
    font-weight: 700;
    color:var(--text-dark);
    margin: 0;
    padding: 0;
}

.h3 {
    font-size: 16px;
    font-weight: 700;
    color:var(--text-dark);
    margin: 0;
    padding: 0;
}

.p1 {
    
    font-size: 16px;
    font-weight: 500;
    color:var(--text-paragraph);
}

.p2 {
    
    font-size: 15px;
    font-weight: 500;
    color:var(--text-paragraph);
}

.p3 {
    
    font-size: 12px;
    font-weight: 500;
    color:var(--text-paragraph);
}

.a {
    font-size:16px;
    font-weight: 500;
    text-decoration: underline;
    color:var(--text-primary);
}

.a:hover{
    
    text-decoration: underline;
    color:var(--text-paragraph);
    
}

.tx-12-med{
    font-size:12px;
    font-weight: 500;
}


.tx-alg-right{
    align-content: right;
}


/* 1.2 Functional css */

/* green color for required */
.fc_pr {
    color:var(--text-primary);
}

.flex{
    display:flex;
}

.flex-jstf-btwn{
    justify-content: space-between;
}

.flex-jstf-center{
    justify-content: center;
}


.block{
    display:block;
}

.inline{
    display:inline-block;
}

/* widths */
.wd_169{
    width:169px;
}

.wd_180{
    width:180px;
}

.wd_290{
    width:290px;
}

.wd_265{
    width: 265px;
}

.wd_375{
    width: 375px;
}

.wd_590{
    width: 590px;
}

.wd_790{
    width: 790px;
}

.wd_987{
    width: 987px;
}

.wd_926{
    width: 926px;
}

.wd_995{
    width: 995px;
}

.wd_1024{
    width: 1024px
}

/* full width */
.wd_1050{
    width: 1050px
}

.ht_110{
    height:110px;
}


/* leftmost column spacer, indent */

.col_a{
    width:var(--logo-width);
}

/* logo+24px */
.col_a_sm{
    width: calc(var(--logo-width) + 1.5rem);
}

/* logo+116px */
.col_a_med{
    width: calc(var(--logo-width) + 7.25rem);
}


/* line break */
.hr {
    width: 1050px;
    border-top: 1px solid var(--text-neutral);
    padding-top: 10px;
}




/* ---------------------------------------- */
/* --------------2.1 Buttons--------------- */
/* ---------------------------------------- */

/* button square hover-primary */
/* used in Optional Details on the left */
.btn--sqr-primary{
    padding: 0.5em 0;
    margin-bottom: 10px;
    width: 180px;
    height: 40px; 
    border-radius: 0.5em;
    border: 1px solid var(--text-neutral);
    box-shadow: 0 5px 4px 0 var(--boxshadow-light);
    font-size: 1.125em;
    font-weight: 500;
    text-align: center;
    text-transform: lowercase;
    color: var(--text-neutral);
    
}

.btn--sqr-primary:hover{
    border: 1px solid var(--primary);
    color: var(--text-primary);
    background-color:var(--hover-primary);
    box-shadow: none;
    
}

/* --------btn with icon to the left rounded ends --------- */
/* used in create RFQ */
.btn-icon {
    margin:25px;
    padding: 0.5em 1.25em 0.5em 65px;
    border: 2px solid var(--neutral);
    border-radius: 28.5px;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,0.1);
    background-color: var(--light);
    font-size: 18px;
    font-weight: bold;
    color: var(--text-paragraph);
    height:60px;
    background: url(../images/upholstery_color_paragraph.svg) no-repeat 1em center;
    background-size: 32px;
    background-position:20px center;
}

.btn-icon:hover {
    border: 2px solid var(--primary);
    box-shadow: none;
    background-color: var(--hover-primary);
    color: var(--text-primary);
    background: url(../images/upholstery_color_primary.svg)no-repeat 1em center;
    background-size: 32px;
    background-position:20px center;
    /* float:right; */
}

.btn-icon--casegoods{
    background: url(../images/casegoods_color_paragraph.svg) no-repeat 1em center;
    background-size: 32px;
    background-position:20px center;
}

.btn-icon--casegoods:hover{
    background: url(../images/casegoods_color_primary.svg) no-repeat 1em center;
    background-size: 32px;
    background-position:20px center;
}

.btn-icon--metal{
    padding: 0.5em 1.25em 0.5em 88px;
    background: url(../images/metal_btn_color_paragraph.svg) no-repeat 1em center;
    background-size: auto 32px;
    background-position:20px center;
}

.btn-icon--metal:hover{
    background: url(../images/metal_btn_color_primary.svg) no-repeat 1em center;
    background-size: auto 32px;
    background-position:20px center;
}


/* btn--map--location */

.btn--map-location{
    
    background: url(../images/location.svg) no-repeat center;
}



/* btn submit pink   */
button[type="submit"] {
    width:225px;
    height:50px;
    padding: 0.5em 1.25em;
    margin: 20px 30px;
    border: none;
    border-radius: 1.333em;
    box-shadow: 0 2px 4px 0 var(--boxshadow-dark);
    background-color: var(--secondary);
    font-size: 1.125em;
    font-weight: bold;
    text-align: center;
    color: var(--text-light);
    float:right;
}
button[type="submit"]:hover {
    background-color: var(--hover-secondary);
}

button[type="submit"][disabled] {
    background-color: var(--light-neutral);
    color: var(--text-light-neutral);
}

/* ---------------------------------------- */
/* --------------Input Fileds-------------- */
/* ---------------------------------------- */


.input--txt-area_additional_notes {
    width: 792px;
    height: 110px;
    margin: 1px 0 10px 0;
    padding: 0.5em 2.222em 0.5em 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.5em;
    border: 1px solid var(--text-neutral);
    background: url(../images/Pencil.svg) no-repeat;
    background-size: 22px;
    background-position:756px 10px;
    resize: none;
}


/* input with icon right */
.input {
    width: 100%;
    margin: 1px 0 10px 0;
    padding: 0.5em 2.222em 0.5em 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.5em;
    border: 1px solid var(--text-neutral);
}

.input--pencil {
    background: url(../images/Pencil.svg) no-repeat right 1em center;
    background-size: 1.25em;
}

.input--downarrow {
    background: url(../images/Arrow-Down.svg) no-repeat right 1.1em center;
    background-size: 1em;
}




[type="checkbox"]:checked + label .custom-checkbox {
    background: #333333;

}

/* ---------------------------------------- */
/* ----------------2.2 Cards--------------- */
/* ---------------------------------------- */


/* Card--Upload  Add inspiration section, cards for uploaded images    */

.card--upload_inspiration{
    position: relative;
    width: 100px;
    height: 130px;
    border-radius: 5px;
    box-shadow: none;
    transition: all .2s ease-in-out;
    margin: 2px 5px;
}

.card--upload_inspiration:hover{
    box-shadow: 0 2px 4px 0 var(--boxshadow-dark);
    transform: scale(1.03);
}

.card--upload_spacer{
    /* just the left box to push over this top section */
    height:15px;
}


/* technically a btn will move, was thinking of animating */
.card--upload_delete{
    position: absolute;
    left: 68px;
    z-index: 2;
    width: 32px;
    height: 32px;
    background: url(../images/delete-image2.svg) no-repeat center;
    background-size: cover;
}

.card--upload_delete:hover{
    background: url(../images/delete-image2.svg) no-repeat center;
    background-size: cover;
}

.card--upload_img_box {
    display:flex;
    width: 85px;
    height: 85px;
    justify-content: end;
}

.card--upload_img {
    margin:0;
    padding:0;
    object-fit: contain;
    width: 85px;
    height: 85px;
}

.card--upload_description{
    height:28px;
    padding: 3px;
    text-align: center;
    word-wrap: break-word;
    overflow:hidden;
}



/* ---------- card--factory -------------*/
/* choosing your factory section  */

.card--factory{
    padding:5px;
    margin:10px 5px;
    width: 200px;
    height: 180px;
    border-radius: 5px;
    box-shadow: none;
    transition: all .2s ease-in-out;
}

.card--factory:hover{
    box-shadow: 0 2px 4px 0 var(--boxshadow-dark);
    transform: scale(1.03);
}

.card--factory__container_top{
    width:100%;
    display:inline-flex;
}

.card--col_a{
    width:17px;
    height:97px;
}

.card--factory__checkbox{
    margin:0 5px;
    width: 23px;
    height: 23px;
    border-radius: 2px;
    border:1px solid #909090;
    
}

.card--factory__checkbox:hover{
    /* margin:0 5px;
    width: 23px;
    height: 23px;
    border-radius: 2px; */
    background-color: var(--primary);
    border:1px solid var(--primary);
}

.card--factory__container__rt{
    width:99px;
}

.card--factory__image{
    width: 99px;
    height: 97px
}




.card--factory__name{
    padding: 4px 0;
    text-align: center;
    width:100%;
}

.card--factory__location_box{
    padding: 4px 0;
    width:100%;
}

/* .card--factory__location__icon{
    width:20px;
    height:27px;
} */

.btn--map-location{
    margin-right:5px;
    width:20px;
    height:27px;
    background: url(../images/location.svg) no-repeat center;
}

.btn--map-location:hover, .btn--map-location:focus{
    margin-right:5px;
    width:20px;
    height:27px;
    background: url(../images/location_c_primary.svg) no-repeat center;
}










/* ---------------------------------------- */
/* -----------------Layout----------------- */
/* ---------------------------------------- */

/* page spacing */
.container{
    display:flex;
    padding: 10px 0;
}


.col_drag_drop{
    display:flex;
    width:790px;
    height: 149px;
    border: 2px dashed var(--text-neutral); 
    border-radius: 8px;
    justify-content: center;
    text-align: center;
}



/* page specific blocks */


.number_of_pieces{
    width: 169px;
    margin: 0 29px;
}

.uploaded_files {
    min-height:200px;
    
}

.input_dimensions {
    width: 790px;
}










