/* 
---------------------------------------- 
------------Table of Contents----------- 
1 Globals 
    1.1 Fonts 
    1.2 Functional CSS Definitions 

2 Components 
    2.1 Buttons 
    2.2 Cards   

3 Layout                                 
---------------------------------------- 
*/


/* 1.1 Fonts */

/* functional */
.h1 {
    font-size: 30px;
    /* font-size: 1.25em; */
    font-weight: 700;
    color:var(--text-dark);
    margin:.75em;
}


.h2 {
    font-size: 20px;
    font-weight: 700;
    color:var(--text-dark);
    margin: 0;
    padding: 0;
}

.h3 {
    font-size: 16px;
    font-weight: 700;
    color:var(--text-dark);
    margin: 0;
    padding: 0;
}

.p1 {
    
    font-size: 16px;
    font-weight: 500;
    color:var(--text-paragraph);
}

.p2 {
    
    font-size: 15px;
    font-weight: 500;
    color:var(--text-paragraph);
}

.p3 {
    
    font-size: 12px;
    font-weight: 500;
    color:var(--text-paragraph);
}



/* 1.2 Functional css */

/* green color for required */
.fc_pr {
    color:var(--text-primary);
}

.flex{
    display:flex;
}


.flex-jstf-btwn{
    justify-content: space-between;
}

.flex-jstf-center{
    justify-content: center;
}

.flex-align-baseline{
    align-items: baseline;
}

.block{
    display:block;
}

.inline{
    display:inline-block;
}

.wd_169{
    width:169px;
}

.wd_180{
    width:180px;
}

.wd_290{
    width:290px;
}

.wd_265{
    width: 265px;
}

.wd_375{
    width: 375px;
}

.wd_590{
    width: 590px;
}

.wd_790{
    width: 790px;
}

.wd_987{
    width: 987px;
}

.wd_995{
    width: 995px;
}

.wd_1024{
    width: 1024px
}

/* full width */
.wd_1050{
    width: 1050px
}

.ht_110{
    height:110px;
}


.hr {
    width: 1050px;
    border-top: 1px solid var(--text-neutral);
}






/* 2.1 Buttons */

/* Button {
    padding: 0.5em 1.25em;
    border: none;
    border-radius: 1.333em;
    box-shadow: 0 2px 4px 0 var(--boxshadow-dark);
    background-color: var(--secondary);
    font-size: 1.125em;
    font-weight: bold;
    text-align: center;
    color: var(--text-light);
    float:right;
} */


.button-icon {
    margin:30px;
    padding: 0.5em 1.25em 0.5em 45px;
    border: 2px solid var(--neutral);
    border-radius: 28.5px;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,0.1);
    background-color: var(--light);
    font-size: 1.125em;
    font-weight: bold;
    text-align: center;
    color: var(--text-paragraph);
    float: left;
    clear: both;
    height:60px;
    background: url(../images/Pencil.svg) no-repeat 1em center;
    background-size: 32px;
    background-position:20px center;

    
}



.button-icon:hover {
    
    border: 2px solid var(--primary);

    box-shadow: 0 5px 4px 0 rgba(0,0,0,0.1);
    background-color: var(--hover-primary);
    color: var(--text-primary);
    background: url(../images/Pencil.svg) no-repeat 1em center;
    background-size: 32px;
    background-position:20px center;
    /* float:right; */
}




/* Pink submit button  */
.profile .right-editable button[type="submit"] {
    padding: 0.5em 1.25em;
    border: none;
    border-radius: 1.333em;
    box-shadow: 0 2px 4px 0 var(--boxshadow-dark);
    background-color: var(--secondary);
    font-size: 1.125em;
    font-weight: bold;
    text-align: center;
    color: var(--text-light);
    float:right;
}
.profile .right-editable button[type="submit"]:hover {
    background-color: var(--hover-secondary);
}
.profile .right-editable button[type="submit"][disabled] {
    background-color: var(--light-neutral);
    color: var(--text-light-neutral);
}

/* ---------------------------------------- */
/* --------------Input Fileds-------------- */
/* ---------------------------------------- */


.input {
    width: 100%;
    margin: 5px 0;
    padding: 0.5em 2.222em 0.5em 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.5em;
    border: 1px solid var(--text-neutral);
}

.input--pencil {
    background: url(../images/Pencil.svg) no-repeat right 1em center;
    background-size: 1.25em;
}

.input--downarrow {
    background: url(../images/Arrow-Down.svg) no-repeat right 1.1em center;
    background-size: 1em;
}




[type="checkbox"]:checked + label .custom-checkbox {
    background: #333333;

}

/* ---------------------------------------- */
/* ----------------2.2 Cards--------------- */
/* ---------------------------------------- */

.card-upload-images{
    position: relative;
    width: 100px;
    height: 130px;
    background-color: blue;
    transition: all .2s ease-in-out;
}

.card-upload-images:hover{
    /* border: 1px solid var(--text-neutral);  */

    transform: scale(1.03);
}


.card-upload_delete{
    position: absolute;
    left: 68px;
    z-index: 2;
    width: 32px;
    height: 32px;
    background: url(../images/delete-image2.svg) no-repeat center;
    background-size: cover;
    /* background-color: red; */

    /* transition: all .2s ease-in-out; */
}

.card-upload-spacer{
    height:15px;
}

.card-upload_delete:hover{
    background: url(../images/delete-image2.svg) no-repeat center;
    background-size: cover;
    
    /* transform: */
    /* background-color: pink; */
}

.card-upload_img {
    /* position: absolute;
    left: 5px; */
    z-index: 1;
    width: 85px;
    height: 85px;
    background-color: green;

}

.card-upload-description{

}







.card-images_deletebtn{

}

.card-images_deletebtn{

}

/* ---------------------------------------- */
/* -----------------Layout----------------- */
/* ---------------------------------------- */

/* page spacing */
.container{
    display:flex;
    padding: 10px 0;
}

.col_a{
    width:var(--logo-width);
}

.col_a_sm{
    width: calc(var(--logo-width) + 1.5rem);
}

.col_a_med{
    width: calc(var(--logo-width) + 7.25rem);
}




.col_drag_drop{
    display:flex;
    width:790px;
    height: 149px;
    border: 2px dashed var(--text-neutral); 
    border-radius: 8px;
    justify-content: center;
    text-align: center;
}

.card{
    background-color: bisque;
    height: 122px;
    width: 80px;
}


/* page specific blocks */




.number_of_pieces{
    width: 169px;
    margin: 0 29px;
}

.uploaded_files {
    min-height:200px;
    
}

.input_dimensions {
    width: 790px;
}










