/*** Parameters ***/

:root {
    /* font */
    --font-family: 'Montserrat', sans-serif;

    /* colors */
    --text-dark: #313131;
    --text-paragraph: #4a4a4a;
    --text-neutral: #9c9c9c;
    --text-light-neutral: #c7c7c7;
    --text-light: #ffffff;
    --text-primary: #6cb6a3;
    --text-secondary: #ffb4ac;

    --primary: #6cb6a3;
    --secondary: #ffb4ac;
    --secondary-dark: #ed8a7f;
    --neutral: #9c9c9c;
    --light-neutral: #efefef;
    --light: #ffffff;
    --error: #ff0000;

    --hover-primary: #deede8;
    --hover-secondary: #ed8a7f;
    --bg-highlight: #deede8;

    --gradient-action-dark: #ed8a7f;
    --gradient-action-light: #ffe0dd;
    --gradient-approved-dark: #6cb6a3;
    --gradient-approved-light: #a5dcd0;

    --text-calendar: #bac2c7;
    --calendar: #edf2f5;

    --boxshadow-dark: #999999;
    --boxshadow-light: #d5d5d5;

    --attention: #ed8a7f;
    --processing: #f5a623;
    --complete: #4a90e2;

    /* layout */
    --logo-width: 9rem;

    --form-width-default: 36.25rem;
    --form-width-lg: 49.5rem;
    --form-width: var(--form-width-default);

    --form-control-margin: 15px;
    --form-row-basis: calc(var(--form-width) + var(--form-control-margin));

    --modal-width: calc(100vw - 160px);
    --modal-body-padding: 120px;
}

/*** Global ***/

@media screen and (prefers-reduced-motion:reduce) {
    * {
        -webkit-transition: 0s !important;
        transition: 0s !important;
    }
}

*,::after,::before { box-sizing: border-box; }

a { text-decoration: none; color: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}

audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }

.hidden { display: none !important; }
.invisible { visibility: hidden !important; }

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--text-dark);
}

body { margin: 0; }

dl, menu, ol, ul { margin: 0; list-style: none; }
dd { margin: 0; }
menu, ol, ul { padding: 0; }
nav ol, nav ul { list-style: none; }

img { border: 0; }
figure { margin: 0; }

form { margin: 0; }

legend { border: 0; padding: 0; white-space: normal; }

strong { font-size: inherit; font-weight: bold; }
abbr { text-decoration: none; }

*:focus { outline: none; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; }
button, input { line-height: normal; }
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], input[disabled] { cursor: default; }
button.text-button { border: none; background: none; text-decoration: underline; color: var(--text-primary); }
input[type=checkbox],input[type=radio] { padding: 0;}
input[type=search] { -webkit-appearance: textfield; }
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Feature Detection */
.svg-fallback { display: none; }
.no-inlinesvg .svg-fallback {
    display: inline-block;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

/*** Header ***/

/* Menu */
.menu-wrapper {
    display: flex;
    height: 3.75rem;
    padding: 0 2.5rem;
    justify-content: flex-end;
    align-items: center;
}
.menu-wrapper .menu-icon { position: relative; display: inline-block; margin-right: 20px; cursor: pointer; }
.menu-wrapper .menu-icon:last-child { margin: 0; }
.menu-wrapper .menu-icon img { height: 1.25rem; width: auto; }
.menu-wrapper .badge {
    position: absolute;
    top: -0.375rem;
    right: -0.312rem;
    height: 0.625rem;
    width: 0.625rem;
    border-radius: 50%;
    background-color: var(--secondary);
}

#menu div {
    position: absolute;
    right: -2.5rem;
    width: 15em;
    padding: 1.5em 1.5em;
    background: var(--light);
    box-shadow: 0 7px 7px 0 var(--boxshadow-dark);
    font-size: 1.25em;
    z-index: 20;
}
#menu div > * { display: block; margin: 0 0 1em; }
#menu div > :last-child { margin-bottom: 0; }
#menu div > a { margin-left: 1.25em; margin-right: 1.25em; }
#menu div a:hover { color: var(--text-primary); }

/* Nav */
.site-header header {
    position: relative;
    display: flex;
    height: 4.75rem;
}
.site-header .site-logo {
    height: 100%;
    width: calc(var(--logo-width) - 2.5rem);
    margin: 0 1.25rem;
    text-align: right;
}
.site-header .site-logo img { height: 100%; width: auto; }

.site-header .request-quote {
    position: relative;
    flex: 0 0 6rem;
    background-color: var(--secondary);
    z-index: 10;
}
/*.site-header .request-quote:hover { background-color: var(--hover-secondary); }*/
.site-header .request-quote > img { height: 100%; width: auto; cursor: pointer; }

.site-header .quote-buttons-container {
    position: absolute;
    top: 100%;
    display: flex;
    padding: 1.2em 1.333em;
    background-color: var(--secondary);
    font-size: 0.937em;
    font-weight: bold;
    color: var(--text-light);
}
.site-header .quote-buttons-container a {
    display: inline-flex;
    align-items: center;
    margin-right: 1.2em;
    padding: 0.666em 1.2em;
    border: 2px solid var(--text-light);
    border-radius: 1.333em;
    white-space: nowrap;
}
.site-header .quote-buttons-container a:last-child { margin-right: 0; }
.site-header .quote-buttons-container a img { height: 1.066em; width: 1.066em; margin-right: 0.5em; }

.site-header .main-nav {
    flex: 1;
    padding: 10px var(--logo-width) 10px 10px;
    background-color: var(--light-neutral);
    font-weight: 500;
}
.site-header .main-nav ul { display: flex; height: 100%; max-width: 1080px; align-items: center; }
.site-header .main-nav li { flex: 1; padding: 0 10px; text-align: center; }
.site-header .main-nav a { display: inline-flex; align-items: center; }
.site-header .main-nav a.active { color: var(--text-primary); }
.site-header .main-nav a:hover { color: var(--text-primary); }

.site-header .main-nav .icon-wrapper { height: 1.875em; margin-right: 0.875em; }
.site-header .main-nav .icon-wrapper svg { height: 100%; width: auto; }
.no-inlinesvg #nav-projects .svg-fallback { width: 1.875em; background-image: url(../../images/icons/Projects.svg) }
.no-inlinesvg #nav-quotes .svg-fallback { width: 1.625em; background-image: url(../../images/icons/Quotes.svg) }
.no-inlinesvg #nav-in-production .svg-fallback { width: 1.875em; background-image: url(../../images/icons/In-Production.svg) }
.no-inlinesvg #nav-complete .svg-fallback { width: 3.375em; background-image: url(../../images/icons/Complete.svg) }
.site-header .main-nav a.active path { fill: var(--primary); }
.site-header .main-nav a:hover path { fill: var(--primary); }

/* Breadcrumbs */
.breadcrumbs { margin-bottom: 1.25rem; font-size: .875rem; font-weight: 500; }
.breadcrumbs a { color: var(--text-light-neutral); }
.breadcrumbs a:hover { color: var(--text-primary); }
.breadcrumbs a, .breadcrumbs img { margin-right: 1em; }

.breadcrumbs img {
    position: relative;
    top: 0.166em;
    height: 1.143em;
    width: auto;
}

/* START YOUR CSS HERE */